name: Create class diagrams
run-name: Create class diagrams
on:
  - workflow_call # Allowing for calling from other workflows
  - workflow_dispatch # Allowing for manual triggering
env:
  source_file_list: ./src/OptiHPLCHandler/empower_instrument_method.py ./src/OptiHPLCHandler/empower_handler.py
jobs:
  class_diagrams:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.9
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .[doc]
      - name: Create docs
        run: |
          ./Makefile html
      - name: Create class diagram
        run: |
          mkdir -p _build/class_diagrams
          for file in ${{ env.source_file_list }}; do
            pyreverse $file -A -S --output html --output-directory docs/class_diagrams
            mv docs/class_diagrams/classes.html _build/images/$(basename $file).html
          done
      - uses: actions/upload-artifact@v4
        with:
          name: class_diagrams
          path: docs/class_diagrams
